* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.flex {
  display: flex;
}

.mobile {
  display: none !important;
}

.container {
  max-width: 1286px;
  padding: 0 16px;
  margin: 0 auto;
}

.button-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  padding: 12px 20px;
  color: #333333;
  border: 2px solid #333333;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 1000px;
  gap: 12px;
  text-decoration: none;
}

main {
  background-color: #ffd570;
}

header {
  padding: 24px 0;
  background-color: #ffd570;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .fale_conosco_button {
  display: flex;
  gap: 12px;
  color: #333333;
  font-family: "Poppins";
  font-weight: 500;
  padding: 12px 20px;
}
header ul {
  display: flex;
  list-style: none;
  gap: 20px;
}
header a {
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  color: #1c1c1c;
  text-decoration: none;
}

.hero .container {
  display: flex;
  align-items: center;
  padding-top: 1.8125rem;
}
.hero .arrow_bottom {
  margin-top: 40px;
}
.hero h1 {
  max-width: 600px;
  width: 100%;
  font-family: "Nunito", sans-serif;
  font-size: 3rem;
  color: #1c1c1c;
  font-weight: 600;
  margin-bottom: 1.5rem;
}
.hero p {
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  color: #333333;
  margin-bottom: 1.875rem;
  font-size: 1.5rem;
  width: 559px;
  max-width: 100%;
}
.hero .image_hero img {
  max-width: 650px;
  width: 100%;
}

.a_construlab {
  background-color: #ffd570;
  border-radius: 0px 0px 60px 60px;
  padding: 80px 0;
  position: relative;
  overflow: hidden;
}
.a_construlab .layer {
  width: 100%;
  background-color: rgba(255, 229, 166, 0.6);
  height: 100px;
  position: absolute;
  top: 0;
}
.a_construlab .image {
  position: relative;
  left: -104px;
  max-width: 645.43px;
  width: 100%;
}
.a_construlab .image img {
  width: 100%;
}
.a_construlab .container {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}
.a_construlab h2 {
  font-family: "Nunito";
  font-size: 3.75rem;
  font-weight: 800;
  color: #1c1c1c;
}
.a_construlab p {
  font-family: "Nunito";
  font-weight: 500;
  margin: 40px 0;
  font-size: 2rem;
  color: #333333;
}
.a_construlab div {
  width: 100%;
}
.a_construlab .overlay {
  position: absolute;
  width: 100%;
  height: 100px;
  background-color: rgba(255, 229, 166, 0.6);
  transform: skewY(16deg);
  top: 276px;
  z-index: 1;
}

.area_atuacao {
  font-family: "Nunito";
  padding: 100px 0;
  color: #1c1c1c;
}
.area_atuacao .container > div {
  display: flex;
  justify-content: space-between;
}
.area_atuacao h2 {
  font-size: 3.75rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 80px;
}
.area_atuacao .texts h3 {
  font-size: 3.25rem;
  max-width: 393px;
  width: 100%;
}
.area_atuacao .texts p {
  font-size: 2rem;
  padding: 40px 0;
  max-width: 479px;
  width: 100%;
}
.area_atuacao .card:nth-child(1) {
  border-radius: 20px 0 0 0;
}
.area_atuacao .card:nth-child(3) {
  border-radius: 0 0 20px 0;
}
.area_atuacao .card {
  padding: 20px;
  background-color: #f5f5f5;
  margin-bottom: 2.25rem;
  max-width: 579.61px;
  width: 100%;
  align-items: flex-start;
  display: flex;
  gap: 8px;
  border-radius: 4px;
}
.area_atuacao .card h4 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 16px;
}
.area_atuacao .card p {
  font-size: 16px;
}

.ods {
  background-color: rgba(176, 106, 54, 0.15);
  padding: 2.9688rem;
}
.ods .container {
  display: flex;
  justify-content: space-between;
}
.ods h2 {
  font-family: "Nunito", sans-serif;
  font-size: 2.5rem;
  color: #1c1c1c;
  max-width: 401px;
  width: 100%;
}
.ods .imgs_ods {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.principais_servicos {
  padding: 80px 0;
  font-family: "Nunito", sans-serif;
}
.principais_servicos .button-primary {
  margin: 0 auto;
  margin-top: 40px;
}
.principais_servicos h2 {
  font-size: 3.75rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 2.5rem;
}
.principais_servicos .servicos {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.principais_servicos .item {
  position: relative;
}
.principais_servicos .tag {
  position: absolute;
  bottom: 16px;
  background-color: #fff;
  width: calc(100% - 16px);
  border-radius: 100px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 4px;
}
.principais_servicos .tag p {
  font-weight: 600;
  color: #333333;
}
.principais_servicos .item_two {
  width: 240px;
  height: 240px;
  background-color: rgba(176, 106, 54, 0.15);
  border-radius: 40px;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.principais_servicos .item_two h3 {
  font-size: 2rem;
  padding: 8px 0;
}
.principais_servicos .item_two p {
  font-size: 1rem;
  font-weight: 500;
}

.quem_faz_construlab {
  padding: 80px 0;
  font-family: "Nunito", sans-serif;
}
.quem_faz_construlab h2 {
  font-size: 3.75rem;
  text-align: center;
  font-weight: 600;
  margin-bottom: 8.125rem;
}
.quem_faz_construlab .people {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.quem_faz_construlab .people + .people {
  margin-top: 130px;
}
.quem_faz_construlab .image {
  width: 480px;
}
.quem_faz_construlab .image span {
  background-color: #b06a36;
  display: block;
  font-size: 2rem;
  color: #fff;
  padding: 0 80px;
  text-align: center;
  border-radius: 0 0 40px 0px;
  position: relative;
  margin-top: -92px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.quem_faz_construlab .texts {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.quem_faz_construlab .texts p {
  color: #333333;
  display: flex;
  gap: 24px;
  font-weight: 600;
  font-size: 2rem;
  align-items: flex-start;
}

.projeto_piloto {
  padding: 120px 0;
  font-family: "Nunito", sans-serif;
}
.projeto_piloto h2 {
  color: #1c1c1c;
  font-size: 3.75rem;
  text-align: center;
  margin-bottom: 32px;
}
.projeto_piloto .container_piloto {
  height: 660px;
  display: flex;
  align-items: center;
  background-color: rgba(255, 229, 166, 0.3);
  padding-left: 60px;
  position: relative;
  justify-content: space-between;
  overflow: hidden;
  border-radius: 40px;
}
.projeto_piloto .image {
  position: relative;
  top: 91px;
}
.projeto_piloto .item {
  width: 360px;
}
.projeto_piloto .item + .item {
  margin-top: 28px;
}
.projeto_piloto .item p {
  padding: 20px 0;
  font-weight: 500;
}
.projeto_piloto .item h3 {
  font-size: 2.5rem;
  border-bottom: 1px solid #1c1c1c;
}
.projeto_piloto .button-primary {
  margin: 40px auto 0 auto;
}

.fale_conosco {
  font-family: "Nunito", sans-serif;
  background-color: rgba(255, 229, 166, 0.3);
  border-radius: 60px 60px 0px 0;
  padding: 50px 0;
}
.fale_conosco .container {
  display: flex;
  justify-content: space-between;
}
.fale_conosco h2 {
  font-size: 2.5rem;
  font-weight: 600;
}
.fale_conosco p {
  font-size: 1.5rem;
  width: 100%;
  max-width: 472px;
  margin: 40px 0;
}
.fale_conosco a {
  font-size: 1.5rem;
  color: #1c1c1c;
  display: flex;
  gap: 16px;
  text-decoration: none;
  font-weight: 500;
}
.fale_conosco a + a {
  margin-top: 24px;
}
.fale_conosco form {
  border-radius: 16px;
  background-color: #fff;
  padding: 60px 40px 24px 40px;
  display: flex;
  flex-direction: column;
  max-width: 504px;
  width: 100%;
}
.fale_conosco form > div {
  display: flex;
  flex-direction: column;
}
.fale_conosco form > div span {
  color: #3c3c3c;
  font-size: 1.5rem;
}
.fale_conosco form textarea {
  border-color: #dddddd;
  resize: none;
  margin-top: 10px;
  border-radius: 4px;
}
.fale_conosco form input {
  font-size: 1.5rem;
  border: 0;
  border-bottom: 1px solid #dddddd;
  margin-bottom: 40px;
  height: 43px;
}
.fale_conosco form input::-moz-placeholder {
  color: #3c3c3c;
}
.fale_conosco form input::placeholder {
  color: #3c3c3c;
}
.fale_conosco input[type=submit] {
  width: 142px;
  height: 48px;
  border: 2px solid #333333;
  border-radius: 100px;
  background-color: transparent;
  margin-top: 20px;
}
.fale_conosco textarea {
  padding: 16px;
}

.footer {
  padding: 60px 0;
  background-color: rgba(255, 229, 166, 0.3);
  font-family: "Nunito", sans-serif;
}
.footer .container {
  display: flex;
  justify-content: space-between;
}
.footer ul li {
  list-style: none;
}
.footer .links_footer {
  display: flex;
}
.footer .links_footer nav {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  gap: 20px;
}
.footer .links_footer nav ul {
  display: flex;
  gap: 20px;
}
.footer .links_footer a {
  font-size: 1.5rem;
  color: #1c1c1c;
  text-decoration: none;
  font-weight: 500;
}
.footer .copy {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-weight: 500;
}
.footer .copy span {
  font-size: 1.5rem;
}
.footer .copy span:nth-child(2) {
  font-style: italic;
}

@media (max-width: 1447px) {
  .a_construlab .image {
    left: 0;
  }
}
@media (max-width: 1100px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: flex !important;
  }
  header {
    overflow: hidden;
    padding: 20px;
  }
  header .active_menu {
    background: none;
    border: none;
  }
  header .mobile {
    justify-content: end;
  }
  header button {
    cursor: pointer;
  }
  header nav {
    background-color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    height: 100vh;
    left: 100%;
    z-index: 100;
    transition: 0.3s;
  }
  header nav.nav_mobile.active {
    left: 0%;
  }
  header nav img {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  header ul {
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .hero h1 {
    max-width: 100%;
  }
  .hero .container {
    flex-direction: column;
  }
  .hero .button-primary {
    width: 100%;
    text-align: center;
    margin-top: 40px;
  }
  .a_construlab {
    border-radius: 0px 0px 20px 20px;
  }
  .a_construlab .container {
    flex-direction: column-reverse;
  }
  .a_construlab .image {
    margin-top: 40px;
  }
  .a_construlab .image a {
    margin-top: 40px;
  }
  .a_construlab .image a img {
    width: auto;
  }
  .area_atuacao .card {
    max-width: 100%;
  }
  .area_atuacao .texts h3,
  .area_atuacao .texts p {
    width: 100%;
    max-width: 100%;
  }
  .area_atuacao .container > div {
    flex-direction: column;
  }
  .ods {
    padding-left: 0;
    padding-right: 0;
  }
  .ods .imgs_ods {
    margin-top: 20px;
  }
  .ods img {
    width: 22%;
    height: -moz-fit-content;
    height: fit-content;
  }
  .ods h2 {
    max-width: 100%;
  }
  .ods .container {
    flex-direction: column;
  }
  .servicos picture img {
    width: 100%;
    border-radius: 20px;
  }
  .principais_servicos .servicos {
    flex-direction: column;
  }
  .principais_servicos .tag {
    width: 180px;
  }
  .principais_servicos .item {
    width: 100%;
  }
  .principais_servicos .item > img {
    height: 180px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 20px;
  }
  .principais_servicos .item_two {
    width: 100%;
    margin: 20px 0;
    height: 180px;
  }
  .quem_faz_construlab .people {
    flex-direction: column;
  }
  .quem_faz_construlab .people + .people {
    flex-direction: column-reverse;
  }
  .projeto_piloto .container_piloto {
    padding: 40px;
    flex-direction: column;
    height: auto;
    padding-bottom: 0;
    border-radius: 20px;
  }
  .projeto_piloto .item {
    width: 100%;
  }
  .projeto_piloto .image {
    width: 100%;
    top: 6px;
  }
  .projeto_piloto .image img {
    width: 100%;
  }
  .fale_conosco {
    border-radius: 20px 20px 0 0;
  }
  .fale_conosco .container {
    flex-direction: column;
  }
  .fale_conosco form {
    margin-top: 40px;
    width: 100%;
    max-width: 100%;
  }
  .footer .links_footer {
    text-align: center;
    flex-direction: column;
  }
  .footer .links_footer nav {
    margin: 0;
    margin-top: 40px;
  }
  .footer .links_footer nav ul {
    flex-direction: column;
    text-align: center;
  }
  .footer .container {
    flex-direction: column;
  }
  .footer .copy {
    margin: 40px;
    text-align: center;
  }
  .servicos picture img {
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (max-width: 768px) {
  h1,
  h2 {
    font-size: 2rem !important;
  }
  .arrow_bottom {
    display: none;
  }
  .button-primary {
    font-size: 1rem;
    width: 100%;
  }
  p {
    font-size: 1rem !important;
  }
  .hero {
    padding-bottom: 40px;
  }
  .hero p {
    width: 100%;
  }
  .a_construlab {
    padding-top: 40px;
  }
  .a_construlab .overlay {
    display: none;
  }
  .a_construlab p {
    margin: 20px 0;
  }
  .area_atuacao {
    padding: 80px 0;
  }
  .area_atuacao .card h4 {
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: -6px;
  }
  .area_atuacao .card img {
    width: 20px;
    height: 20px;
  }
  .area_atuacao .texts h3 {
    font-size: 2rem;
  }
  .area_atuacao .texts p {
    padding: 20px 0;
  }
  .ods h2 {
    text-align: center;
    font-size: 2rem;
  }
  .ods .imgs_ods {
    justify-content: space-between;
    gap: 20px;
  }
  .ods img {
    width: 20%;
  }
  .quem_faz_construlab {
    padding-top: 0px;
  }
  .quem_faz_construlab .people + .people {
    margin-top: 40px;
  }
  .quem_faz_construlab h2 {
    margin-bottom: 20px;
  }
  .quem_faz_construlab .texts {
    gap: 20px;
  }
  .quem_faz_construlab .texts p img {
    width: 20px;
    height: 20px;
  }
  .quem_faz_construlab .image {
    width: 100%;
  }
  .quem_faz_construlab .image span {
    padding: 0px;
    font-size: 1.5rem;
    margin-top: -71px;
    height: 66px;
  }
  .quem_faz_construlab .image img {
    width: 100%;
  }
  .projeto_piloto {
    padding: 0 0 80px 0;
  }
  .projeto_piloto .item h3 {
    font-size: 2rem;
  }
  .fale_conosco p {
    margin: 20px 0;
  }
  .fale_conosco form > div span {
    font-size: 1rem;
  }
  .fale_conosco form {
    padding: 20px;
  }
  .fale_conosco form input,
  .fale_conosco form textarea,
  .fale_conosco form span {
    font-size: 1rem;
  }
  .fale_conosco input[type=submit] {
    width: 124px;
    height: 40px;
    margin-bottom: 0;
  }
  .fale_conosco a {
    font-size: 1rem;
  }
  .fale_conosco a img {
    width: 24px;
    height: 24px;
  }
  .servicos picture img {
    height: 180px;
  }
}/*# sourceMappingURL=styles.css.map */